@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --link-active: hsl(220, 98%, 61%);
      --primary: 0, 0%, 98%;
      --secondary: hsl(0, 0%, 100%);
      --incomplete: hsl(235, 19%, 35%);
      --complete: hsl(233, 11%, 84%);
      --new-todo: hsl(236, 9%, 61%);
    }
    .dark {
      --primary: 235, 21%, 11%;
      --secondary: hsl(235, 24%, 19%);
      --incomplete: hsl(234, 39%, 85%);
      --complete: hsl(233, 14%, 35%);
      --new-todo: hsl(234, 11%, 52%);
    }
  }
}

@layer base {
  body {
    @apply font-josefin text-[18px] bg-linear;
  }
}
